* {
  margin: 0;
}

html,body {
  height: 100%;
}


body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

img,svg{
  display: block;
  max-width: 100%;
}